<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PVP</title>
</head>
<body>
    <div class="ekran">
        <h1><span><%=player1.toUpperCase()%></span> VS <span><%=player2.toUpperCase()%></span></h1>
        <%var player1img = player1 + "_flipped.png"%>
        <%var player2img = player2 + ".png"%>
        <div class="container">
            <div class="crveni">
             <p id="hp-crveni">HP:10</p>
             <img src=<%=player1img%>>
            </div>
            <div class="plavi">
                <p id="hp-plavi">HP:10</p>
                <img src= <%=player2img%>>
            </div>
        </div>
        <div class="divringa"><div class="ring"></div></div>
    </div>
    
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        body {
            background-color: gray;
        }
        .ekran {
            width: 100vw;
            height: 100vh;
            border: 20px solid red;
            box-sizing: border-box;
            position: relative;
        }
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            padding-top: 30px;
        }
        .container {
            display: flex;
            justify-content: space-between;
            margin-top: 200px;
        }
        .plavi, .crveni {
            position: relative;
            text-align: center;
            z-index: 1;
        }
        .plavi img, .crveni img {
            width: 80px;
            height: 80px;
        }
        .divringa {
            position: absolute;
            top: 130px;
            left: 480px;
        }
        .ring {
            width: 400px;
            height: 400px;
            background-color: white;
        }
        .bullet {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: black;
            border-radius: 50%;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(function() {
            var plavi = $(".plavi");
            var crveni = $(".crveni");
            var move = 20;
            var plavihp = 10;
            var crvenihp = 10;
            var bulletSpeed = 10;

            $(document).keydown(function(e) {
                var plaviLeft = parseInt(plavi.css('right')) || 0;
                var plaviTop = parseInt(plavi.css('top')) || 0;
                var crveniLeft = parseInt(crveni.css('right')) || 0;
                var crveniTop = parseInt(crveni.css('top')) || 0;

                switch (e.keyCode) {
                    case 39: // Strelica desno (plavi)
                        plavi.css('right', plaviLeft - move + 'px');
                        $(".plavi img").attr("src", '<%=player2%>' + "_flipped.png");
                        break;
                    case 37: // Strelica levo (plavi)
                        plavi.css('right', plaviLeft + move + 'px');
                        $(".plavi img").attr("src", '<%=player2%>' + ".png");
                        break;
                    case 38: // Strelica gore (plavi)
                        plavi.css('top', plaviTop - move + 'px');
                        break;
                    case 40: // Strelica dole (plavi)
                        plavi.css('top', plaviTop + move + 'px');
                        break;
                    case 68: // D (crveni)
                        crveni.css('right', crveniLeft - move + 'px');
                        $(".crveni img").attr("src", '<%=player1%>' + "_flipped.png");
                        break;
                    case 65: // A (crveni)
                        crveni.css('right', crveniLeft + move + 'px');
                        $(".crveni img").attr("src", '<%=player1%>' + ".png");
                        break;
                    case 87: // W (crveni)
                        crveni.css('top', crveniTop - move + 'px');
                        break;
                    case 83: // S (crveni)
                        crveni.css('top', crveniTop + move + 'px');
                        break;
                    case 77: // M (plavi puca)
                        shootBullet(plavi, "left");
                        break;
                    case 71: // G (crveni puca)
                        shootBullet(crveni, "right");
                        break;
                }
            });

            function shootBullet(player, direction) {
                var bullet = $("<div class='bullet'></div>");
                $(".ekran").append(bullet);

                var playerOffset = player.offset();
                bullet.css({
                    top: playerOffset.top + 30 + "px",
                    left: playerOffset.left + (direction === "left" ? -10 : 80) + "px"
                });

                var interval = setInterval(function() {
                    var bulletOffset = bullet.offset();
                    if (!bulletOffset) return;

                    if (direction === "left") {
                        bullet.css("left", bulletOffset.left - bulletSpeed + "px");
                    } else {
                        bullet.css("left", bulletOffset.left + bulletSpeed + "px");
                    }

                    if (checkCollision(bullet, direction === "left" ? crveni : plavi)) {
                        if (direction === "left") {
                            crvenihp -= 1;
                            $("#hp-crveni").text("HP: " + crvenihp);
                        } else {
                            plavihp -= 1;
                            $("#hp-plavi").text("HP: " + plavihp);
                        }
                        bullet.remove();
                        clearInterval(interval);
                        checkGameOver();
                    }

                    if (bulletOffset.left < 0 || bulletOffset.left > $(window).width()) {
                        bullet.remove();
                        clearInterval(interval);
                    }
                }, 30);
            }

            function checkCollision(bullet, player) {
                var bulletOffset = bullet.offset();
                var playerOffset = player.offset();

                return (
                    bulletOffset.left < playerOffset.left + player.width() &&
                    bulletOffset.left + bullet.width() > playerOffset.left &&
                    bulletOffset.top < playerOffset.top + player.height() &&
                    bulletOffset.top + bullet.height() > playerOffset.top
                );
            }

            function checkGameOver() {
                if (plavihp <= 0) {
                    alert("Crveni pobedjuje!");
                    resetGame();
                } else if (crvenihp <= 0) {
                    alert("Plavi pobedjuje!");
                    resetGame();
                }
            }

            function resetGame() {
                plavihp = 10;
                crvenihp = 10;
                $("#hp-plavi").text("HP: 10");
                $("#hp-crveni").text("HP: 10");
            }
        });
    </script>
</body>
</html>
